body {
    background-color: rgb(59, 232, 220);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: #000000;
}
nav {
    color: #000000;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    background: #ffffff;
}

.container {
    color: rgb(0, 0, 0);
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

section {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
}































.mujer {
    width: 2000px;
    height: 700px;
    opacity: 0.75;
}
.container2 {
    display: flex;
    align-items: center; /* Alinea verticalmente */
  }
  
  .text {
    flex-grow: 1; /* Hace que el texto ocupe el espacio restante */
    margin-left: 20px; /* Ajusta el margen según necesites */
  }
.imagen-logo {
    width: 40px;
    height: 30px;
    float: left;
    margin: 0;
}

.logo {
    float: left;
    margin: 0;
    color: #000000;
    margin-left: 10px;
}

.menu {
   color: black;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    color: #000000;
    display: inline-block;
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #29c8e8;
}
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #32c3e0;
    box-shadow: 0px 15px 20px rgba(27, 161, 191, 0.4);
    color: #000000;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
  

.user-box input {
    padding: 1.3em 3em; 
    margin: 5px 0; 
    border: 1px solid #ccc;
    letter-spacing: 2.5px;
    border: none;
    border-radius: 45px;
    outline: none; font-weight: 500;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
  
  
  
  
  /* { padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}